.slide-in-page {
  view-transition-name: slide-in;
}

::view-transition-old(slide-in),
::view-transition-new(slide-in) {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

::view-transition-old(slide-in) {
  animation-name: scale-down;
}

::view-transition-new(slide-in) {
  animation-name: scale-up;
}

@keyframes scale-down {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes scale-up {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-out-page {
  view-transition-name: slide-out;
}

::view-transition-old(slide-out),
::view-transition-new(slide-out) {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

::view-transition-old(slide-out) {
  animation-name: scale-down-x;
}

::view-transition-new(slide-out) {
  animation-name: scale-up-x;
}

@keyframes scale-down-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes scale-up-x {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.app-header {
  background-color: grey;
  height: 10vh;
  width: 100%;
  position: fixed;
}

.app-body {
  background-color: white;
  height: 80vh;
  width: 100%;
  position: fixed;
  top: 10vh;
}

.app-nav {
  background-color: grey;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.app-content {
  height: 90vh;
  width: 100%;
  position: fixed;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.home {
  height: 80vh;
  margin-top: 10vh;
  background-color: red;
}

.about {
  height: 80vh;
  margin-top: 10vh;
  background-color: blue;
}
  
  